<a href="https://colab.research.google.com/github/Am-CheaChamroeun/Machine-Learning-Data-Wrangling/blob/main/Machine_Learning_Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import sklearn #machine learning
import numpy as np # Mathematic Computations
import pandas as pd #Data management

In [3]:
#1. Load the dataset
dataset = pd.read_csv("https://raw.githubusercontent.com/Am-CheaChamroeun/Machine-Learning-Data-Wrangling/main/airline_passenger_satisfaction.csv")
dataset.head(5)

,ID,Gender,Age,Customer Type,Type of Travel,Class,Flight Distance,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,...,On-board Service,Seat Comfort,Leg Room Service,Cleanliness,Food and Drink,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling,Satisfaction
0,1,Male,48,First-time,Business,Business,821,2,5.0,3,...,3,5,2,5,5,5,3,5,5,Neutral or Dissatisfied
1,2,Female,35,Returning,Business,Business,821,26,39.0,2,...,5,4,5,5,3,5,2,5,5,Satisfied
2,3,Male,41,Returning,Business,Business,853,0,0.0,4,...,3,5,3,5,5,3,4,3,3,Satisfied
3,4,Male,50,Returning,Business,Business,1905,0,0.0,2,...,5,5,5,4,4,5,2,5,5,Satisfied
4,5,Female,49,Returning,Business,Business,3470,0,1.0,3,...,3,4,4,5,4,3,3,3,3,Satisfied

In [4]:
#dimension : rows, columns
dataset.shape

(129880, 24)

In [5]:
#describe the dataset
dataset.describe()

,ID,Age,Flight Distance,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,Ease of Online Booking,Check-in Service,Online Boarding,Gate Location,On-board Service,Seat Comfort,Leg Room Service,Cleanliness,Food and Drink,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling
count,129880.000000,129880.000000,129880.000000,129880.000000,129487.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000
mean,64940.500000,39.427957,1190.316392,14.713713,15.091129,3.057599,2.756876,3.306267,3.252633,2.976925,3.383023,3.441361,3.350878,3.286326,3.204774,3.642193,2.728696,3.358077,3.632114
std,37493.270818,15.119360,997.452477,38.071126,38.465650,1.526741,1.401740,1.266185,1.350719,1.278520,1.287099,1.319289,1.316252,1.313682,1.329933,1.176669,1.329340,1.334049,1.180025
min,1.000000,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,32470.750000,27.000000,414.000000,0.000000,0.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,3.000000
50%,64940.500000,40.000000,844.000000,0.000000,0.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,3.000000,3.000000,4.000000,3.000000,4.000000,4.000000
75%,97410.250000,51.000000,1744.000000,12.000000,13.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,5.000000
max,129880.000000,85.000000,4983.000000,1592.000000,1584.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [6]:
#Check the variable(Numerical / categorical)
numerical_variable = dataset.columns[dataset.dtypes !=  'object']
dataset[numerical_variable].head(5)

categorical_variable = dataset.columns[dataset.dtypes ==  'object']
dataset[categorical_variable].head(5)

   Gender Customer Type Type of Travel     Class             Satisfaction
0    Male    First-time       Business  Business  Neutral or Dissatisfied
1  Female     Returning       Business  Business                Satisfied
2    Male     Returning       Business  Business                Satisfied
3    Male     Returning       Business  Business                Satisfied
4  Female     Returning       Business  Business                Satisfied

In [7]:
dataset[numerical_variable].head(5)

,ID,Age,Flight Distance,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,Ease of Online Booking,Check-in Service,Online Boarding,Gate Location,On-board Service,Seat Comfort,Leg Room Service,Cleanliness,Food and Drink,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling
0,1,48,821,2,5.0,3,3,4,3,3,3,5,2,5,5,5,3,5,5
1,2,35,821,26,39.0,2,2,3,5,2,5,4,5,5,3,5,2,5,5
2,3,41,853,0,0.0,4,4,4,5,4,3,5,3,5,5,3,4,3,3
3,4,50,1905,0,0.0,2,2,3,4,2,5,5,5,4,4,5,2,5,5
4,5,49,3470,0,1.0,3,3,3,5,3,3,4,4,5,4,3,3,3,3

In [8]:
dataset[categorical_variable].head(5)

   Gender Customer Type Type of Travel     Class             Satisfaction
0    Male    First-time       Business  Business  Neutral or Dissatisfied
1  Female     Returning       Business  Business                Satisfied
2    Male     Returning       Business  Business                Satisfied
3    Male     Returning       Business  Business                Satisfied
4  Female     Returning       Business  Business                Satisfied

In [9]:
#Missing values
dataset.isnull().head(5)
dataset[numerical_variable].isnull().head(5)
dataset[categorical_variable].isnull().head(5)

#False - No missing values
#true = we have the missing values

   Gender  Customer Type  Type of Travel  Class  Satisfaction
0   False          False           False  False         False
1   False          False           False  False         False
2   False          False           False  False         False
3   False          False           False  False         False
4   False          False           False  False         False

In [10]:
#Find out the the percentage of missing values
len(dataset)

129880

In [11]:
dataset.isnull().sum()/len(dataset)
dataset[numerical_variable].isnull().sum()
dataset[numerical_variable].isnull().sum()/len(dataset)

ID                                        0.000000
Age                                       0.000000
Flight Distance                           0.000000
Departure Delay                           0.000000
Arrival Delay                             0.003026
Departure and Arrival Time Convenience    0.000000
Ease of Online Booking                    0.000000
Check-in Service                          0.000000
Online Boarding                           0.000000
Gate Location                             0.000000
On-board Service                          0.000000
Seat Comfort                              0.000000
Leg Room Service                          0.000000
Cleanliness                               0.000000
Food and Drink                            0.000000
In-flight Service                         0.000000
In-flight Wifi Service                    0.000000
In-flight Entertainment                   0.000000
Baggage Handling                          0.000000
dtype: float64

In [13]:
dataset.fillna('Kirirom')

,ID,Gender,Age,Customer Type,Type of Travel,Class,Flight Distance,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,...,On-board Service,Seat Comfort,Leg Room Service,Cleanliness,Food and Drink,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling,Satisfaction
0,1,Male,48,First-time,Business,Business,821,2,5.0,3,...,3,5,2,5,5,5,3,5,5,Neutral or Dissatisfied
1,2,Female,35,Returning,Business,Business,821,26,39.0,2,...,5,4,5,5,3,5,2,5,5,Satisfied
2,3,Male,41,Returning,Business,Business,853,0,0.0,4,...,3,5,3,5,5,3,4,3,3,Satisfied
3,4,Male,50,Returning,Business,Business,1905,0,0.0,2,...,5,5,5,4,4,5,2,5,5,Satisfied
4,5,Female,49,Returning,Business,Business,3470,0,1.0,3,...,3,4,4,5,4,3,3,3,3,Satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,129876,Male,28,Returning,Personal,Economy Plus,447,2,3.0,4,...,5,1,4,4,4,5,4,4,4,Neutral or Dissatisfied
129876,129877,Male,41,Returning,Personal,Economy Plus,308,0,0.0,5,...,5,2,5,2,2,4,3,2,5,Neutral or Dissatisfied
129877,129878,Male,42,Returning,Personal,Economy Plus,337,6,14.0,5,...,3,3,4,3,3,4,2,3,5,Neutral or Dissatisfied
129878,129879,Male,50,Returning,Personal,Economy Plus,337,31,22.0,4,...,4,4,5,3,3,4,5,3,5,Satisfied
129879,129880,Female,20,Returning,Personal,Economy Plus,337,0,0.0,1,...,4,2,4,2,2,2,3,2,1,Neutral or Dissatisfied

In [18]:
dataset['Customer Type'].replace('Returning', 'Comeback')
dataset.replace(0, "Kirirom")
dataset['Class'].replace(["Business", "Economy Plus"],['World Class',"Economy Minus"]).head(15)

0           World Class
1           World Class
2           World Class
3           World Class
4           World Class
              ...
129875    Economy Minus
129876    Economy Minus
129877    Economy Minus
129878    Economy Minus
129879    Economy Minus
Name: Class, Length: 129880, dtype: object

In [20]:
#Create the rows and add it with the original dataset
#values of variable, instructions about the variable
row_insert = pd.Series([len(dataset)+1,'Male','19', 'Returning', "Personal", "Business"  ], index = ['ID', 'Gender', 'Age', 'Customer Type', 'Type of Travel', 'Class'])
dataset.append(row_insert, ignore_index=True)

,ID,Gender,Age,Customer Type,Type of Travel,Class,Flight Distance,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,...,On-board Service,Seat Comfort,Leg Room Service,Cleanliness,Food and Drink,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling,Satisfaction
0,1,Male,48,First-time,Business,Business,821.0,2.0,5.0,3.0,...,3.0,5.0,2.0,5.0,5.0,5.0,3.0,5.0,5.0,Neutral or Dissatisfied
1,2,Female,35,Returning,Business,Business,821.0,26.0,39.0,2.0,...,5.0,4.0,5.0,5.0,3.0,5.0,2.0,5.0,5.0,Satisfied
2,3,Male,41,Returning,Business,Business,853.0,0.0,0.0,4.0,...,3.0,5.0,3.0,5.0,5.0,3.0,4.0,3.0,3.0,Satisfied
3,4,Male,50,Returning,Business,Business,1905.0,0.0,0.0,2.0,...,5.0,5.0,5.0,4.0,4.0,5.0,2.0,5.0,5.0,Satisfied
4,5,Female,49,Returning,Business,Business,3470.0,0.0,1.0,3.0,...,3.0,4.0,4.0,5.0,4.0,3.0,3.0,3.0,3.0,Satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129876,129877,Male,41,Returning,Personal,Economy Plus,308.0,0.0,0.0,5.0,...,5.0,2.0,5.0,2.0,2.0,4.0,3.0,2.0,5.0,Neutral or Dissatisfied
129877,129878,Male,42,Returning,Personal,Economy Plus,337.0,6.0,14.0,5.0,...,3.0,3.0,4.0,3.0,3.0,4.0,2.0,3.0,5.0,Neutral or Dissatisfied
129878,129879,Male,50,Returning,Personal,Economy Plus,337.0,31.0,22.0,4.0,...,4.0,4.0,5.0,3.0,3.0,4.0,5.0,3.0,5.0,Satisfied
129879,129880,Female,20,Returning,Personal,Economy Plus,337.0,0.0,0.0,1.0,...,4.0,2.0,4.0,2.0,2.0,2.0,3.0,2.0,1.0,Neutral or Dissatisfied
129880,129881,Male,19,Returning,Personal,Business,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
#call the row
#datasetname.iloc[] - we can call the specific row based on the index
dataset.iloc[0]
dataset.iloc[1:10]
dataset.iloc[1:20]
dataset.iloc[len(dataset)-1]

ID                                                         129880
Gender                                                     Female
Age                                                            20
Customer Type                                           Returning
Type of Travel                                           Personal
Class                                                Economy Plus
Flight Distance                                               337
Departure Delay                                                 0
Arrival Delay                                                 0.0
Departure and Arrival Time Convenience                          1
Ease of Online Booking                                          3
Check-in Service                                                4
Online Boarding                                                 3
Gate Location                                                   2
On-board Service                                                4
Seat Comfort                                                    2
Leg Room Service                                                4
Cleanliness                                                     2
Food and Drink                                                  2
In-flight Service                                               2
In-flight Wifi Service                                          3
In-flight Entertainment                                         2
Baggage Handling                                                1
Satisfaction                              Neutral or Dissatisfied
Name: 129879, dtype: object

In [26]:
#loc - to cal the specific values, 
#index
dataset = dataset.set_index(dataset['Class'])
dataset.loc['Economy Plus']

,ID,Gender,Age,Customer Type,Type of Travel,Class,Flight Distance,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,...,On-board Service,Seat Comfort,Leg Room Service,Cleanliness,Food and Drink,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling,Satisfaction
Class,,,,,,,,,,,,,,,,,,,,,
Economy Plus,24,Male,77,Returning,Business,Economy Plus,821,0,0.0,5,...,4,4,5,4,4,2,4,4,3,Neutral or Dissatisfied
Economy Plus,94,Male,80,Returning,Business,Economy Plus,108,0,0.0,4,...,3,1,2,1,1,3,1,1,3,Neutral or Dissatisfied
Economy Plus,95,Female,7,Returning,Personal,Economy Plus,173,18,35.0,5,...,5,2,2,2,2,5,2,2,5,Neutral or Dissatisfied
Economy Plus,96,Female,34,Returning,Personal,Economy Plus,173,0,0.0,4,...,5,3,5,3,3,4,2,3,4,Neutral or Dissatisfied
Economy Plus,97,Female,18,First-time,Business,Economy Plus,215,0,0.0,5,...,1,1,4,1,1,5,3,1,1,Neutral or Dissatisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Economy Plus,129876,Male,28,Returning,Personal,Economy Plus,447,2,3.0,4,...,5,1,4,4,4,5,4,4,4,Neutral or Dissatisfied
Economy Plus,129877,Male,41,Returning,Personal,Economy Plus,308,0,0.0,5,...,5,2,5,2,2,4,3,2,5,Neutral or Dissatisfied
Economy Plus,129878,Male,42,Returning,Personal,Economy Plus,337,6,14.0,5,...,3,3,4,3,3,4,2,3,5,Neutral or Dissatisfied
Economy Plus,129879,Male,50,Returning,Personal,Economy Plus,337,31,22.0,4,...,4,4,5,3,3,4,5,3,5,Satisfied
Economy Plus,129880,Female,20,Returning,Personal,Economy Plus,337,0,0.0,1,...,4,2,4,2,2,2,3,2,1,Neutral or Dissatisfied

In [27]:
#rename
dataset.rename(columns={'Class' : 'Type'}).head(5)

,ID,Gender,Age,Customer Type,Type of Travel,Type,Flight Distance,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,...,On-board Service,Seat Comfort,Leg Room Service,Cleanliness,Food and Drink,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling,Satisfaction
Class,,,,,,,,,,,,,,,,,,,,,
Business,1,Male,48,First-time,Business,Business,821,2,5.0,3,...,3,5,2,5,5,5,3,5,5,Neutral or Dissatisfied
Business,2,Female,35,Returning,Business,Business,821,26,39.0,2,...,5,4,5,5,3,5,2,5,5,Satisfied
Business,3,Male,41,Returning,Business,Business,853,0,0.0,4,...,3,5,3,5,5,3,4,3,3,Satisfied
Business,4,Male,50,Returning,Business,Business,1905,0,0.0,2,...,5,5,5,4,4,5,2,5,5,Satisfied
Business,5,Female,49,Returning,Business,Business,3470,0,1.0,3,...,3,4,4,5,4,3,3,3,3,Satisfied

In [30]:
print('Highest Distance:', dataset['Flight Distance'].max())

Highest Distance: 4983

In [32]:
#delete col
dataset.drop('Gender', axis=1).head(5)
dataset.drop(dataset.columns[2], axis=1)

,ID,Gender,Customer Type,Type of Travel,Class,Flight Distance,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,Ease of Online Booking,...,On-board Service,Seat Comfort,Leg Room Service,Cleanliness,Food and Drink,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling,Satisfaction
Class,,,,,,,,,,,,,,,,,,,,,
Business,1,Male,First-time,Business,Business,821,2,5.0,3,3,...,3,5,2,5,5,5,3,5,5,Neutral or Dissatisfied
Business,2,Female,Returning,Business,Business,821,26,39.0,2,2,...,5,4,5,5,3,5,2,5,5,Satisfied
Business,3,Male,Returning,Business,Business,853,0,0.0,4,4,...,3,5,3,5,5,3,4,3,3,Satisfied
Business,4,Male,Returning,Business,Business,1905,0,0.0,2,2,...,5,5,5,4,4,5,2,5,5,Satisfied
Business,5,Female,Returning,Business,Business,3470,0,1.0,3,3,...,3,4,4,5,4,3,3,3,3,Satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Economy Plus,129876,Male,Returning,Personal,Economy Plus,447,2,3.0,4,4,...,5,1,4,4,4,5,4,4,4,Neutral or Dissatisfied
Economy Plus,129877,Male,Returning,Personal,Economy Plus,308,0,0.0,5,3,...,5,2,5,2,2,4,3,2,5,Neutral or Dissatisfied
Economy Plus,129878,Male,Returning,Personal,Economy Plus,337,6,14.0,5,2,...,3,3,4,3,3,4,2,3,5,Neutral or Dissatisfied
Economy Plus,129879,Male,Returning,Personal,Economy Plus,337,31,22.0,4,4,...,4,4,5,3,3,4,5,3,5,Satisfied
Economy Plus,129880,Female,Returning,Personal,Economy Plus,337,0,0.0,1,3,...,4,2,4,2,2,2,3,2,1,Neutral or Dissatisfied

In [34]:
#delete row
dataset.drop(["Business"], axis =0)

,ID,Gender,Age,Customer Type,Type of Travel,Class,Flight Distance,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,...,On-board Service,Seat Comfort,Leg Room Service,Cleanliness,Food and Drink,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling,Satisfaction
Class,,,,,,,,,,,,,,,,,,,,,
Economy,13,Male,24,First-time,Business,Economy,453,16,30.0,2,...,2,5,4,5,5,4,2,5,4,Neutral or Dissatisfied
Economy,15,Male,52,Returning,Personal,Economy,853,0,0.0,4,...,3,2,3,2,2,5,2,2,5,Neutral or Dissatisfied
Economy,16,Male,70,Returning,Personal,Economy,821,0,0.0,5,...,4,5,2,5,5,5,2,5,4,Neutral or Dissatisfied
Economy,17,Female,48,Returning,Personal,Economy,821,0,0.0,3,...,5,1,2,2,1,5,2,5,5,Neutral or Dissatisfied
Economy,18,Female,61,Returning,Personal,Economy,821,0,0.0,5,...,5,5,2,1,4,5,2,5,5,Neutral or Dissatisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Economy Plus,129876,Male,28,Returning,Personal,Economy Plus,447,2,3.0,4,...,5,1,4,4,4,5,4,4,4,Neutral or Dissatisfied
Economy Plus,129877,Male,41,Returning,Personal,Economy Plus,308,0,0.0,5,...,5,2,5,2,2,4,3,2,5,Neutral or Dissatisfied
Economy Plus,129878,Male,42,Returning,Personal,Economy Plus,337,6,14.0,5,...,3,3,4,3,3,4,2,3,5,Neutral or Dissatisfied
Economy Plus,129879,Male,50,Returning,Personal,Economy Plus,337,31,22.0,4,...,4,4,5,3,3,4,5,3,5,Satisfied
Economy Plus,129880,Female,20,Returning,Personal,Economy Plus,337,0,0.0,1,...,4,2,4,2,2,2,3,2,1,Neutral or Dissatisfied

In [35]:
dataset['Type of Travel'].unique()

array(['Business', 'Personal'], dtype=object)